################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InfoPointServer/bin/Debug/net8.0
/InfoPointServer/obj
/InfoPointUI/bin/Debug/net8.0-windows
/InfoPointUI/obj
